@charset "utf-8";
.loginHead {
  bottom: 0px;
  text-align: center;
  color: #000;
}

@media (max-width: 1300px) {
  .loginHead {
    bottom: 0px;
    margin-right: 10px;
    text-align: right;
    color: #000;
  }
}

@media (max-width: 767px) {
  .loginHead {
    bottom: 0px;
    margin-right: 10px;
    display: none;
    text-align: right;
    color: #000;
  }
}

